html {  height: 100%;
}

body {
	background-image:url(../img/newbackground.png);
	background-size: contain;
	background-attachment: fixed;
    height: 100%;
    background-repeat: repeat-x;
}

html, body, .main-content{
    max-width: 100%;
    overflow: hidden;
}

#avabox {
    height: 144px;
    width: 125px;
    position: absolute;
    bottom: 0%;
    right: 45%;
}

#lunchbox {
    height: 188px;
    width: 173px;
    position: absolute;
	bottom: 1%
}


.food{
   height: 44px; 
   width: 44px;
   position: absolute;
}

.topLane {
    bottom: 50px;
}

.bottomLane {
    bottom: 0px;
}
#tick {
    font-family: impact;
    font-size: 23px;
    color: gold;
    width:100px;
    height:50px;
    background-color: #000000;
}
#score {
    font-family: impact;
    font-size: 25px;
    color: gold;
    width:190px;
    height:70px;
    border: 2px  #d3dfe8;
    background-color: #000000;
}
#resetbox {
    height: 200px;
    width: 1px;
    position: absolute;
    bottom: 0%;
    }
